<div class="login-form"><!--login form-->
						<h2>Add Brand</h2>
						<form action="#">
							<input #brandData placeholder="Name" type="text">
							
							
							<button (click)="add(brandData.value)" type="button" class="btn btn-default">Add Brand</button>
						</form>
						{{errMsg}}

						<h2>Brand Data</h2>
						<table class="table">
							<tr>
								<th>Name</th>
								<th>Delete</th>
								<th>Edit</th>
							</tr>
							<tr *ngFor="let ans of brandArr">
								<td>{{ans.name}}</td>
								<td><a href="/deleteBrand/{{ans.id}}">Delete</a></td>
								<td><a href="/editBrand/{{ans.id}}">Edit</a></td>
							</tr>
						</table>
					</div>